*{
    box-sizing: border-box;
    margin: 0;
    font-family: vazir;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
.work{
    max-width: 1200px;
margin: 0 auto;}